{% extends 'base.html.twig' %}


{% block page_contents %}


    {% if events is empty %}
        <p>No events found. Create an event by typing /manage in a telegram group.</p>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <th scope="row">{{ event.id }}</th>
                <td><a href="{{ path('app_events_show', {'id': event.id}) }}">{{ event.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
